/* 34 KEY MATRIX / LAYOUT MAPPING

   ╭─────────────────────┬─────────────────────╮
   │ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
   │ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 │
   │ LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 │
   ╰───────────╮ LH1 LH0 │ RH0 RH1 ╭───────────╯
               ╰─────────┴─────────╯             */

// qmk friendly
#define COMB(name, binding, keypos)  ZMK_COMBO(name, binding, keypos, ALL)
//#undef COMBO_TERM
//#define COMBO_TERM 40  // timeout of 40ms (default is 30ms if omitted)

// cancel all / reset to base layer
COMB(C_cancel,           &kp CANCEL,    RB4     RM4)

// hyper - meh
COMB(C_hyper,            &kp HYPR,      LM4     LM3)
COMB(C_meh,              &kp MEH,       RM3     RM4)

// Text control
COMB(C_bspc,             &kp BSPC,  RT2 RT3)
COMB(C_del,              &kp DEL,   LT2 LT3)
//ZMK_COMBO(combo_copy,  &kp LC(C), LB2 LB3, ALL)
//ZMK_COMBO(combo_paste, &kp LC(V), LB1 LB2, ALL)

