/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

#include "../../../zmk-nodefree-config/keypos_def/keypos_34keys.h"
#include "../../../zmk-nodefree-config/helper.h"

#define DEFAULT 0
#define SYM 1
#define NAV 2
#define CONFIG 3
// #define _LOWER 3
// #define _RAISE 4
#define FUN 5
#define NUMPAD 6
#define NUMWORD 7
#define MEDIA 8
#define MOUSE 9
#define GAME 10
#define WNAV 11
#define EMAILS 12
#define ADJUST 13

#define XXXXXXX &none
#define _______ &trans

// Home row mods macros
#define MALT(k) &hrm LALT k
#define MSFT(k) &hrm LSHFT k
#define MCTL(k) &hrm LCTRL k
#define MGUI(k) &hrm LGUI k
#define MCS(k) &mt LC(LSHFT) k
#define MCA(k) &mt LC(LALT) k

// combos
//#undef COMBO_TERM
//#define COMBO_TERM 40  // timeout of 40ms (default is 30ms if omitted)
ZMK_COMBO(combo_bspc,  &kp BSPC, RT2 RT3, ALL)
ZMK_COMBO(combo_del,   &kp DEL, LT2 LT3, ALL)
//ZMK_COMBO(combo_copy,   &kp LC(C),  LB2 LB3, ALL)
//ZMK_COMBO(combo_paste,  &kp LC(V),  LB1 LB2, ALL)


// tap dance
ZMK_BEHAVIOR(td_parens, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp LPAR>, <&kp RPAR>;
)
ZMK_BEHAVIOR(td_bracket, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp LBKT>, <&kp RBKT>;
)
ZMK_BEHAVIOR(td_cbrace, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp LBRC>, <&kp RBRC>;
)

/ {
    macros {
            ZMK_MACRO(save,
              wait-ms = <30>;
              tap-ms = <40>;
              bindings =  <&macro_tap &kp ESC &kp COLON &kp W &kp RET>;
            )
    };

    behaviors {
        hrm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <100>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            // global-quick-tap; // <--- makes I'm really hard to type
        };
    };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
    XXXXXXX    MALT(W)    &kp E      &kp R        &kp T     &kp Y     &kp U            &kp I      MALT(O)    XXXXXXX
    MSFT(A)    &kp S      &kp D      MCTL(F)      &kp G     &kp H     MCTL(J)          &kp K      &kp L      MSFT(P)
    MCS(Q)     MCA(X)     &kp C      MGUI(V)      &kp B     &kp N     MGUI(M)          &kp COMMA  MCA(DOT)   MCS(Z)
                                     &lt NAV RET  XXXXXXX   XXXXXXX   &lt CONFIG SPACE
                        >;
                };

                sym_layer {
                        bindings = <
    _______    &kp AT     &kp HASH   &kp DLR    &kp PRCNT  &kp CARET  &kp AMPS   &kp ASTRK  &td_parens   _______
    &kp GRAVE  &kp DQT    _______    &kp EXCL   _______    _______    &kp MINUS  &kp EQUAL  &td_cbrace   &kp SEMI
    &kp TILDE  &kp SQT    &kp BSLH   &kp PIPE   &sl MEDIA  &sl FUN    &kp UNDER  &kp PLUS   &td_bracket  &kp FSLH
                                     _______    _______    _______    _______
                        >;
                };

                media_layer {
                        bindings = <
    _______    _______    _______    _______    _______    _______    _______    _______    _______    _______
    _______    _______    _______    _______    _______    _______    _______    _______    _______    _______
    _______    _______    _______    _______    _______    _______    _______    _______    _______    _______
                                     _______    _______    _______    _______
                        >;
                };

                fun_layer {
                        bindings = <
    _______    _______    _______    _______    _______    _______    _______    _______    _______    _______
    _______    _______    _______    _______    _______    _______    _______    _______    _______    _______
    _______    _______    _______    _______    _______    _______    _______    _______    _______    _______
                                     _______    _______    _______    _______
                        >;
                };

                nav_layer {
                        bindings = <
   &none      &none  &none    &none    &none &none &kp F1        &kp F2      &kp F3      &kp F4
   &hrm LGUI LEFT &hrm LALT DOWN &hrm LSHFT UP &hrm LCTRL RIGHT &none &none &hrm RCTRL F5   &hrm RSHFT F6 &hrm RALT F7  &hrm RGUI F8
   &kp HOME      &kp PG_DN      &kp PG_UP       &kp END       &none &none &kp F9         &kp F10       &kp F11       &kp F12
                        &trans  &trans &kp DEL &caps_word
                        >;
                };

                config_layer {
// -----------------------------------------------------------------------------------------
// | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ |    | BT1  | BT2 | BT3 | BT4 |
// | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI+ |    | BT5   |       |     |     |
// |          |          |          | RGB TOG  |    | BT CLR |     |     | RESET     |
//                                             |     |     |     |     |     |
                        bindings = <
   &rgb_ug RGB_BRI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_EFF &none &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
   &rgb_ug RGB_BRD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_EFR &none &none &bt BT_SEL 4 &bt BT_NXT &bt BT_PRV        &none
   &none           &none           &none           &rgb_ug RGB_TOG &none &none &bt BT_CLR   &none &out OUT_TOG        &reset
                                                             &kp CAPS      &trans               &trans      &trans
                        >;
                };
        };
};
